body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightpink;
    font-family: monospace;
    min-width: 600px;
}
#bar-container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    height: 550px;
}
.bar{
    color: white;
    margin-left: 1px;
    width: 50px;
    background-color: red;
    transition: 0.3s;
}
#dashboard{
    display: flex;
    justify-content: center;
    align-self: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}
/* SLIDER */
.slide-container{
    font-size: 1.5rem;
    display: flex;
    width: 40%;
}
.slider {
    width: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
#mySpeed{
    transform: rotateY(180deg);
}
.slide-box{
    margin: 0.8rem;
}

/*BUTTON*/
.btn{
    font-size: 1rem;
    border: 0;
    background-color: lightsteelblue;
    color: black;
    margin-left: 1rem;
    height: 90%;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-radius: 5px;
}
.btn:hover{
    background-color: lightgreen;
}
.btn:active{
    border: 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}